<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Panel administratora</h5>
      <ul class="list-group">
        <li class="list-group-item"><a routerLink="/admin/product" routerLinkActive="active">Produkty</a></li>
        <li class="list-group-item"><a routerLink="/admin/category" routerLinkActive="active">Kategorie</a></li>
        <li class="list-group-item"><a routerLink="/admin/authors" routerLinkActive="active">Autorzy</a></li>
      </ul>
    </div>
  </div>
</div>
